:root {
    --backgroundColor: #212529;
    --textColor: #EDEDF4;
    --lightTextColor: #F1F0CC;
}

* {
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    background-color: var(--backgroundColor);
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.description {
    color: var(--textColor);
}

.description h1 {
    font-size: 34px;
}

.description h3 {
    font-size: 15px;
    padding: 30px 0;
    color: var(--lightTextColor);
}

@media screen and (max-width: 768px) {
    .hero {
        width: 100%;
        background-color: var(--backgroundColor);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description .btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    p {
        text-align: center;
    }

    .hero-image {
        display: none;
    }
}