:root {
    --backgroundColor: #212529;
    --textColor: #EDEDF4;
    --lightTextColor: #F1F0CC;
}
.market {
    min-height: calc(100vh - 70px);
    padding-top: 50px;
    padding-left: 10%;
    background-color: var(--backgroundColor);
    display: flex;
    gap: 3rem;
    justify-content: start;
    align-items: start;
}
/* .container {
    height: max-content;
} */

.cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
